[DEFAULT]
ConnectionType=acceptor
ResetOnLogon=Y
FileLogPath=fix-logs
FileStorePath=fix-data
LogonTimeout=7200
ReconnectInterval=15

[SESSION]
BeginString=FIX.4.4
SenderCompID=NEXBOOK
TargetCompID=FIX_ORDER_GEN
StartDay=sunday
EndDay=saturday
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
CheckLatency=N
SocketAcceptPort=12000
UseDataDictionary=Y
DataDictionary=FIX44.xml
