[DEFAULT]
ConnectionType=acceptor
ResetOnLogon=Y
FileLogPath=fix-logs
FileStorePath=fix-data
LogonTimeout=6000
ReconnectInterval=6030

[SESSION]
BeginString=FIX.4.4
SenderCompID=NEXBOOK
TargetCompID=FIX_ORDER_GEN
StartDay=sunday
EndDay=friday
StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
CheckLatency=N
SocketAcceptPort=12000
UseDataDictionary=Y
DataDictionary=FIX44.xml
