[DEFAULT]
ConnectionType=acceptor
ResetOnLogon=Y
FileLogPath=fix-logs
FileStorePath=fix-data
LogonTimeout=7200
ReconnectInterval=15
BeginString=FIX.4.4
StartDay=sunday
EndDay=saturday
StartTime=00:00:00
EndTime=23:59:59
UseDataDictionary=Y
DataDictionary=FIX44.xml
HeartBtInt=30
CheckLatency=N

[SESSION]
SenderCompID=NEXBOOK
TargetCompID=FIX_ORDER_GEN1
SocketAcceptPort=12001

[SESSION]
SenderCompID=NEXBOOK
TargetCompID=FIX_ORDER_GEN2
SocketAcceptPort=12002

[SESSION]
SenderCompID=NEXBOOK
TargetCompID=FIX_ORDER_GEN3
SocketAcceptPort=12003

[SESSION]
SenderCompID=NEXBOOK
TargetCompID=FIX_ORDER_GEN4
SocketAcceptPort=12004
