<configuration>
    <include file="src/main/resources/logback-main.xml"/>

    <logger name="org.nexbook.fix.FixMessageHandler" level="debug" additivity="false">
        <appender-ref ref="FILE_ASYNC"/>
    </logger>
    <logger name="org.nexbook.core.DefaultMatchingEngine" level="debug" additivity="false">
        <appender-ref ref="FILE_ASYNC"/>
    </logger>
    <logger name="org.nexbook.orderbookresponsehandler.handler.TradeDatabaseSaver" level="debug" additivity="false">
        <appender-ref ref="FILE_ASYNC"/>
    </logger>
    <logger name="org.nexbook.neworderhandler" level="debug" additivity="false">
        <appender-ref ref="FILE_ASYNC"/>
    </logger>


    <appender name="TEST_RESULT" class="ch.qos.logback.core.FileAppender">
        <file>logs/test/result.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ResultLogger" level="debug" additivity="false">
        <appender-ref ref="TEST_RESULT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
